<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoekart - The world of shoes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="icon" type="png" href="/Public/Images/favicon/Shoe.png.png">


    <link rel="stylesheet" href="/User/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/User/css/animate.css">
    
    <link rel="stylesheet" href="/User/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/User/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/User/css/magnific-popup.css">

    <link rel="stylesheet" href="/User/css/aos.css">

    <link rel="stylesheet" href="/User/css/ionicons.min.css">

    <link rel="stylesheet" href="/User/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/User/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/User/css/flaticon.css">
    <link rel="stylesheet" href="/User/css/icomoon.css">
    <link rel="stylesheet" href="/User/css/style.css">
    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
   
  </head>